.Header {
  margin-bottom: 5%;
  background-color: #24292f;
  color: #ffffff;
  flex-wrap: nowrap;
  border-color: rgba(255,255,255,.15) !important;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.Header-svg {
  margin-left: 20px;
  margin-right: 10px;
}